## /etc/gitea/conf/app.ini
# Gitea config
# {{ ansible_managed }}

RUN_USER = "{{ gitea_user }}"
RUN_MODE = prod

[server]
PROTOCOL = "{{ gitea_protocol }}"
HTTP_ADDR = "{{ gitea_listen }}"
DOMAIN = "{{ gitea_host }}"
ROOT_URL = "https://{{ gitea_host }}/"
STATIC_ROOT_PATH = "/home/{{ gitea_user }}"
APP_DATA_PATH = "/home/{{ gitea_user }}/data"

[database]
DB_TYPE = "{{ gitea_db_type }}"
HOST = "{{ gitea_db_host }}"
USER = "{{ gitea_db_user }}"
PASSWD = "{{ gitea_db_pw }}"
LOG_SQL = false

[repository]
ROOT = "/home/{{ gitea_user }}/repos"
DEFAULT_PRIVATE = private

[repository.upload]
FILE_MAX_SIZE = 10		# MB

[attachment]
PATH = "home/{{ gitea_user }}/data/attachments"

[log]
LEVEL = Warn

[security]
SECRET_KEY = "{{ gitea_key }}"
