## /etc/nginx/sites-available/gitea
# {{ ansible_managed }}

server {
{% for listen in gitea_listen %}
  listen {{ listen }};
{% endfor %}

  server_name {{ gitea_host }};

  client_max_body_size 50M;

  location / {
    proxy_pass {{ gitea_proxy }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }
}
